:host {
  display: block;
  background-color: green;
  color: white;
  border: solid 1px #000;
}
/* :host(.test1) {
  margin: 10px;
  background-color: lavender;
  color: #000;
} */
:host .test1 {
  margin: 10px;
  background-color: lavender;
  color: #000;
}
